*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s !important;
}
::backdrop,
html,
*:fullscreen,
*:-webkit-full-screen,
*:-moz-full-screen {
  z-index: 1;
  background-color: #fff !important;
}

html,
body,#app {
  width: 100%;
  overflow-x: hidden;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
}
ul,
ol {
  list-style: none;
}
li {
  list-style-type: none;
}
img {
  vertical-align: top;
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a:focus,
a:active {
  outline: none;
}
i,
em {
  font-style: normal;
}
button,
div:focus {
  outline: none !important;
}
a {
  color: #0084f4;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  transition: color 0.3s;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #0084f4;
}
a:active {
  color: #0068c1;
}
a:active,
a:hover {
  text-decoration: none;
  outline: 0;
}
a[disabled] {
  color: rgba(0, 0, 0, 0.25);
  pointer-events: none;
  cursor: not-allowed;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  vertical-align: baseline !important;
}
#app {
  width: 100%;
}
/* 滚动条 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb:hover {
  background: #b6b7b9;
}
/***********/


ul {
  margin: 0;
  padding: 0;
}

img[src=""],
img:not([src]) {
  opacity: 0;
}

input {
  display: inherit;
  outline: none;
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th {
  text-align: left;
}



q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
}



a:visited {
  text-decoration: none;
}

button {
  border: none;
}

button:focus {
  outline: 0;
}

.f12 {
  font-size: 12px;
}

.f13 {
  font-size: 13px;
}

.f14 {
  font-size: 14px;
}

.f16 {
  font-size: 16px;
}

.f18 {
  font-size: 18px;
}

.f20 {
  font-size: 20px;
}

.f22 {
  font-size: 22px;
}

.f24 {
  font-size: 24px;
}

.f26 {
  font-size: 26px;
}

.f28 {
  font-size: 28px;
}

.f30 {
  font-size: 30px;
}

.f32 {
  font-size: 32px;
}

.f36 {
  font-size: 36px;
}

.f35 {
  font-size: 35px;
}

.f42 {
  font-size: 42px;
}

.f50 {
  font-size: 50px;
}

.f65 {
  font-size: 65px;
}

.fb {
  font-weight: bold;
}

.fn {
  font-weight: normal;
}

.t2 {
  text-indent: 2px;
}

.text-left,
.tl {
  text-align: left;
}

.text-right,
.tr {
  text-align: right;
}

.text-center,
.tc {
  text-align: center;
}

.m-auto {
  margin: 0 auto;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.cb {
  clear: both;
}

.cr {
  clear: right;
}

.cl {
  clear: left;
}


/*color*/

.viridis {
  color: #34C22C;
}

.white {
  color: #fff;
}

.black {
  color: #000;
}

.red {
  color: red;
}

.c3 {
  color: #333;
}

.c4 {
  color: #444;
}

.c5 {
  color: #555;
}

.c6 {
  color: #666;
}

.c8 {
  color: #888;
}

.c9 {
  color: #999;
}

.ce0 {
  color: #e0e0e0;
}

.cf0 {
  color: #f0f0f0;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

.vm {
  vertical-align: middle;
}

.postion-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.zoom {
  zoom: 1;
}

.hidden {
  visibility: hidden;
}

.none {
  display: block;
}

.m10 {
  margin: 10px;
}

.m15 {
  margin: 15px;
}

.m30 {
  margin: 30px;
}

.m40 {
  margin: 40px;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mt25 {
  margin-top: 25px;
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px;
}

.mt50 {
  margin-top: 50px;
}

.mt100 {
  margin-top: 100px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb100 {
  margin-bottom: 100px;
}
.mtb5{
  margin: 5px 0;
}
.mtb10{
  margin: 10px 0;
}
.mtb15{
  margin: 15px 0;
}
.mtb20{
  margin: 20px 0;
}
.mtb25{
  margin: 25px 0;
}
.mtb30{
  margin: 30px 0;
}
.mtb35{
  margin: 35px 0;
}
.mtb40{
  margin: 40px 0;
}
.mtb50{
  margin: 50px 0;
}
.mtb100{
  margin: 100px 0;
}
.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.ml15 {
  margin-left: 15px;
}

.ml20 {
  margin-left: 20px;
}

.ml25 {
  margin-left: 25px;
}

.ml30 {
  margin-left: 30px;
}

.ml40 {
  margin-left: 40px;
}

.ml50 {
  margin-left: 50px;
}

.ml100 {
  margin-left: 100px;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.mr15 {
  margin-right: 15px;
}

.mr20 {
  margin-right: 20px;
}

.mr30 {
  margin-right: 30px;
}

.mr50 {
  margin-right: 50px;
}

.mr100 {
  margin-right: 100px;
}

.mlr5 {
  margin: 0 5px;
}

.mlr10 {
  margin: 0 10px;
}

.mlr15 {
  margin: 0 15px;
}

.mlr20 {
  margin: 0 20px;
}

.mlr25 {
  margin: 0 25px;
}

.mlr30 {
  margin: 0 30px;
}

.mlr35 {
  margin: 0 35px;
}

.mlr40 {
  margin: 0 40px;
}

.p10 {
  padding: 10px;
}

.p15 {
  padding: 15px;
}

.p30 {
  padding: 30px;
}

.pt5 {
  padding-top: 5px;
}

.pt10 {
  padding-top: 10px;
}

.pt15 {
  padding-top: 15px;
}

.pt20 {
  padding-top: 20px;
}

.pt30 {
  padding-top: 30px;
}

.pt50 {
  padding-top: 50px;
}

.pt100 {
  padding-top: 100px;
}

.pb5 {
  padding-bottom: 5px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb15 {
  padding-bottom: 15px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb30 {
  padding-bottom: 30px;
}

.pb50 {
  padding-bottom: 50px;
}

.pb100 {
  padding-bottom: 100px;
}

.pl5 {
  padding-left: 5px;
}

.pl10 {
  padding-left: 10px;
}

.pl15 {
  padding-left: 15px;
}

.pl20 {
  padding-left: 20px;
}

.pl30 {
  padding-left: 30px;
}

.pl50 {
  padding-left: 50px;
}

.pl100 {
  padding-left: 100px;
}

.pr5 {
  padding-right: 5px;
}

.pr10 {
  padding-right: 10px;
}

.pr15 {
  padding-right: 15px;
}

.pr20 {
  padding-right: 20px;
}

.pr30 {
  padding-right: 30px;
}

.pr50 {
  padding-right: 50px;
}

.pr100 {
  padding-right: 100px;
}

.over-hidden {
  overflow: hidden
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.pt0 {
  padding-top: 0;
}

.m-wrapper {
  padding: 0 10px;
  position: relative;
}

.iconfont {
  cursor: default;
}

.pointer {
  cursor: pointer;
}




.bg-white {
  background-color: #ffffff;
}

.bg-gray {
  background-color: #f7f7f7;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-level{
  display: flex;
  justify-content: center;
}
.flex-wrap {
  flex-wrap: wrap
}

.bg-light-black {
  background-color: #272727;
}

.bg-dark-black {
  background-color: #191919;
}

.min-300 {
  min-height: 300px
}


